{% extends "website/base.html" %}

{% block content %}
<div class="peoplecontent">
    <h1>Our Crew</h1>
    <div class="crewmembers">
        <div class="crewmember">
            <div class="memberimage">
                <img src="/static/img/tony.jpg" alt="member image" style="width:200px;height:200px;">
            </div>
            <div class="membername">TONY STARK</div>
            <div class="designation">C.E.O AK CORP</div>
        </div>
        <div class="crewmember">
            <div class="memberimage">
                <img src="/static/img/shannu.jpg" alt="member image" style="width:200px;height:200px;">
            </div>
            <div class="membername">SHANNMUKH JASHWANTH</div>
            <div class="designation">FRONTEND DEV</div>
        </div>
        <div class="crewmember">
            <div class="memberimage">
                <img src="/static/img/tom.jpg" alt="member image" style="width:200px;height:200px;">
            </div>
            <div class="membername">TOM CRUISE</div>
            <div class="designation">TECHNICAL TEAM</div>
        </div>
        <div class="crewmember">
            <div class="memberimage">
                <img src="/static/img/steve.jpg" alt="member image" style="width:200px;height:200px;">
            </div>
            <div class="membername">STEVE ROGERS</div>
            <div class="designation"> R & D HEAD </div>
        </div>
        <div class="crewmember">
            <div class="memberimage">
                <img src="/static/img/yash.jpg" alt="member image" style="width:200px;height:200px;">
            </div>
            <div class="membername">YASH</div>
            <div class="designation"> DESIGN TEAM </div>
        </div>
        <div class="crewmember">
            <div class="memberimage">
                <img src="/static/img/natasjalaurie.jpg" alt="member image" style="width:200px;height:200px;">
            </div>
            <div class="membername">NATASJA LAURIE</div>
            <div class="designation"> MARKETING HEAD </div>
        </div>
    </div>
    {% endblock  %}